<footer>
  <div class="footer-links">
    <a href="#">Filmes</a>
    <a href="#">Séries  </a>
    <a href="#">Esportes</a>
    <a href="#">Ajuda</a>
  </div>
  <div class="footer-links" style="font-size: 12px;font-family: Verdana, Geneva, Tahoma, sans-serif;" >
    <a href="#">Política de Privacidade</a>
    <a href="#">Termos de uso  </a>
    <a href="#">Gerenciamento de dados</a>
    <a href="#">Imprensa</a>
  </div>
  <span style="font-size: 10px;"> 
  ©2024 Todos os direitos reservados. NTTMAX é usado sob licença.
  </span>
  <div class="footer-icons">
  </div>
</footer>