<header>
  <nav>
     <div class="logo">
      <img src="../assets/Movie_Player_Play_Button.svg" alt="" class="logo-icon"> 
        <span> <a routerLink="/home/" routerLinkActive="active-link">NTT MAX</a></span>                         
    
     </div>
     <div class="buttons-container"> 
        <button class="btn btn-outline-secondary button-sign-in" type="button">Entrar</button>
        <button class="btn btn-outline-secondary button" type="button">Assinar</button>
     </div>
  </nav>
</header>
   