
.img-container-bg {
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 600px;
	max-width: 1920px;
	background-image: url("../../../assets/imgs/Nova\ pasta/bg-cover.jpg");
	background-repeat: no-repeat;
	background-size:cover;

	color: #ffffff;

}

